/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
 * Login Page Styles
 */
/*Makes the login box centred vertically.*/
.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.login-wrapper > .valign-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.login-box {
  -webkit-box-shadow: 0 0 5px #0D0A0B;
          box-shadow: 0 0 5px #0D0A0B;
  background-color: white;
  max-width: 750px;
}
.login-header {
  border-bottom: 1px solid #AAA;
}
.login-header h5 {
  color: #AAA;
  font-size: 15px;
}
.login-header h5 i {
  font-size: 15px;
}
.login-header.active h5 {
  color: #3F7D20;
}
.login-body {
  padding: 10px;
}

@media only screen and (min-width: 400px) {
  .login-header h5 {
    font-size: 25px;
  }
  .login-header h5 i {
    font-size: 25px;
  }
}
