/*
 * Login Page Styles
 */
/*Makes the login box centred vertically.*/
.login-wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.login-wrapper > .valign-wrapper {
  flex: 1;
}
.login-box {
  max-width: 750px;
}
.login-header {
  background-color: #F3FCF0;
  color: #3F7D20;
}
li:not(.active) > .login-header {
  border-bottom: 2px solid #8E4585;
  /* Delays the application of this rule on collapse so the border appears
     as the content dissapears for a seemless transition. */
  transition-delay: 0.3s;
}
.login-body {
  border-bottom: 2px solid #8E4585;
}
