/*
 * Login Page Styles
 */
/*Makes the login box centred vertically.*/
.login-wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.login-wrapper > .valign-wrapper {
  flex: 1;
}
.login-box {
  box-shadow: 0 0 5px #0D0A0B;
  background-color: white;
  max-width: 750px;
}
.login-header {
  border-bottom: 1px solid #AAA;
}
.login-header h5 {
  color: #AAA;
}
.login-header.active h5 {
  color: #3F7D20;
}
.login-body {
  padding: 10px;
}
