
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*font-family: 'Oswald', sans-serif;*/

body, html {
    background-color: #F3FCF0;
    color: #0D0A0B;
    font-family: 'Roboto', sans-serif;
}

/*
 * Header and Navigation
 */
.brand-icon {
    width: 50px;
    height: 50px;

    background-image: url("../images/plum.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.brand-title {
    padding: 0;
    margin: 0;
}
nav .nav-wrapper {
    background-color: #3F7D20;
    color: #F3FCF0;

    font-family: 'Open Sans', sans-serif;
}
.sidenav {
    background-color: #F3FCF0;
    font-family: 'Open Sans', sans-serif;
}
