{% extends "base.html" %}
{% from "items.html" import generate_recipe_card %}
{% from "search.html" import search_form, pagination %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    {{ search_form() }}

    {% if pages.total_items > 0 %}
      {# Only show pagination controls if there are multiple pages #}
      {% if pages.page_count > 0 %}
        <div class="row">
          {{ pagination(url_for('home'), pages) }}
        </div>
      {% endif %}

      <div class="row">
        {% for recipe in recipes %}
          <div class="col s12 m6 l4 xl3">
            {{ generate_recipe_card(recipe) }}
          </div>
        {% endfor %}
      </div>

      {% if pages.page_count > 0 %}
        <div class="row">
          {{ pagination(url_for('home'), pages) }}
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
