{% from "star-rating.html" import generate_star_rating_display %}

{% macro generate_recipe_card(recipe) %}
  <div class="card">
    <div class="card-image">
      <a href="{{ url_for('recipe', pageid=recipe.pageid) }}">
        <img src="{{ recipe.image }}" alt="{{ recipe.title }} header image">
      </a>
    </div>
    <div class="card-content">
      <a href="{{ url_for('recipe', pageid=recipe.pageid) }}">
        <span class="card-title" data-expand="{{ recipe.title }}">
          {{ recipe.title }}
        </span>
      </a>
      <span class="card-recipe-rating">
        {{ generate_star_rating_display(recipe.rating[0], false) }}
      </span>
    </div>
  </div>
{% endmacro %}

{% macro generate_item_tile(title, image, link=none) %}
  <div class="item-tile">
    {% if link is not none %}
      <a href="{{ link }}">
    {% endif %}
      <img class="tile-image" src="{{ image }}" alt="">
      <span class="tile-overlay"></span>
      <span class="tile-title">{{ title }}</span>
    {% if link is not none %}
      </a>
    {% endif %}
  </div>
{% endmacro %}
