{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m1 l2 hide-on-small-only"></div>
    <div class="col s12 m10 l8">
      <ul class="collapsible">
        <li class="active">
          <div class="login-header collapsible-header"><h5>Login</h5></div>
          <div class="collapsible-body">
            <span>Also some stuff</span>
          </div>
        </li>
        <li>
          <div class="login-header collapsible-header"><h5>Register</h5></div>
          <div class="collapsible-body">
            <span>some stuff</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col m1 l2 hide-on-small-only"></div>
  </div>
{% endblock %}
