{% extends "base.html" %}
{% from "star-rating.html" import generate_static_star_rating %}

{% block content %}
  <div class="container vpad">

    {# RECIPE HEADER #}
    <div class="row recipe-header">
      <div class="col s12 l6 recipe-header-img">
        <img src="{{ recipe.image }}" alt="{{ recipe.name }} header image">
      </div>
      <div class="col s12 l6">
        <h1 class="recipe-title">{{ recipe.name }}</h1>
        <p class="recipe-author">by {{ recipe.author.name }}</p>

        <div class="recipe-rating">
          {{ generate_static_star_rating(recipe.rating[0], true) }}
        </div>
        <div class="row">
          <div class="recipe-header-sub col s4">
            <h5>
              <p><i class="material-icons">access_time</i></p>
              Prep
            </h5>
            <span>
              {{ recipe.prep_time.hours }}:{{ recipe.prep_time.minutes }}
            </span>
          </div>
          <div class="recipe-header-sub col s4">
            <h5>
              <p><i class="material-icons">access_time</i></p>
              Cook
            </h5>
            <span>
              {{ recipe.cook_time.hours }}:{{ recipe.cook_time.minutes }}
            </span>
          </div>
          <div class="recipe-header-sub col s4">
            <h5>
              <p><i class="material-icons">restaurant</i></p>
              Servings
            </h5>
            <span>{{ recipe.servings }}</span>
          </div>
        </div>
      </div>
    </div>
    {# END RECIPE HEADER #}

    <hr class="row recipe-divider">

    {# RECIPE CONTENT #}
    <div class="row recipe-content">
      <div class="col s12 recipe-description">{{ recipe.description }}</div>
    </div>
    <div class="row recipe-content">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6">
            <a href="#Recipe-Ingredients" class="active">Ingredients</a>
          </li>
          <li class="tab col s6">
            <a href="#Recipe-Method">Method</a>
          </li>
        </ul>
      </div>
      <div id="Recipe-Ingredients" class="col s12">
        {% if recipe.ingredients|length > 0 %}
          <ul class="collection">
            {% for ingredient in recipe.ingredients %}
              <li class="collection-item">
                {{ ingredient }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div id="Recipe-Method" class="col s12">
        {% if recipe.steps|length > 0 %}
          <ol class="collection">
            {% for step in recipe.steps %}
              <a href="#step-{{ loop.index }}">
                <li id="step-{{ loop.index }}" class="collection-item">
                  {{ step }}
                </li>
              </a>
            {% endfor %}
          </ol>
        {% endif %}
      </div>
    </div>
    {# END RECIPE CONTENT #}

    {# User comment form #}

    {# previous comments here #}



  </div>
{% endblock %}
