{% extends "base.html" %}
{% from "star-rating.html" import generate_star_template,
                                  generate_static_star_rating,
                                  calculate_rating %}

{% block templates %}
  {{ generate_star_template() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <img class="recipe-title-img" src="{{ recipe.image }}" alt="">
      </div>
      <div class="col s12 l6">
        <h1 class="recipe-title">{{ recipe.name }}</h1>
        <p class="recipe-author">by {{ recipe.author.name }}</p>
        <div class="recipe-rating">
          {{ generate_static_star_rating(recipe.rating[0]) }}
          ({{ recipe.rating[0] }})
        </div>
        <p class="recipe-description">{{ recipe.description }}</p>
        <div class="row">
          <div class="col s4">
            Prep Time:
          </div>
          <div class="col s4">
            Cook Time:
          </div>
          <div class="col s4">
            Servings: {{ recipe.servings }}
          </div>
        </div>
      </div>
    </div>
    <hr class="row">
    <div class="row">
      <div class="col s12">
        <ul class="collapsible">
          <li class="active">
            <div class="collapsible-header">
              Ingredients
            </div>
            <div class="collapsible-body">
              {% if recipe.ingredients|length > 0 %}
                <ul class="collection">
                  {% for ingredient in recipe.ingredients %}
                    <li class="collection-item">
                      {{ ingredient }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              Method
            </div>
            <div class="collapsible-body">
              {% if recipe.steps|length > 0 %}
                <ul class="collection">
                  {% for step in recipe.steps %}
                    <li class="collection-item">
                      {{ step }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>

    {# Logged in user interactions here #}

  </div>
{% endblock %}
