{% extends "base.html" %}
{% from "items.html" import generate_item_tile %}

{% block content %}
  <div class="container vpad">
    <div class="row">
      <div class="col s12">
        <form  method="POST" action="">

          <div class="row">
            <div class="input-field col s12 l8 offset-l2">
              <i class="material-icons prefix">search</i>
              <input id="search-text" name="search-text" type="text" required>
              <label for="search-text">Search</label>
            </div>
          </div>

          {# Advanced search options #}


        </form>
      </div>
    </div>

    <div class="row">
      {# Only display categories if no search was conducted #}
      {% if recipes is none %}
        {% for cuisine in cuisines %}
          <div class="search-col col s12 m6 l4 xl3">
            <form class="search-tile" method="POST" action="{{ url_for('search') }}">
              <input name="cuisine" type="hidden" value="{{ cuisine.name }}">
              <button type="submit">
                {{ generate_item_tile(
                    cuisine.name|capitalize(),
                    url_for('static', filename=("/images/categories/sm-"
                      + cuisine.name|replace(' ', '-') + ".jpg"))
                ) }}
              </button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        {% if recipes.count() > 0 %}
          {% for recipe in recipes %}
            <div class="search-col col s12 m6 l4 xl3">
              <div class="search-tile">
                {{ generate_item_tile(
                    recipe.title,
                    recipe.image,
                    url_for('recipe', pageid=recipe.pageid)
                ) }}
              </div>
            </div>
          {% endfor %}
        {% else %}
          No recipes found
        {% endif %}
      {% endif %}
    </div>

  </div>
{% endblock %}
