{% extends "base.html" %}
{% from "items.html" import generate_item_tile %}

{% block content %}
  <div class="container vpad">
    <div class="row">
      <form class="col s12 l8 offset-l2"  method="POST" action="{{ url_for('search') }}">
        <div id="basic_search_pane" class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="search-text" name="search-text" type="text">
            <label for="search-text">Search</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a id="advanced_search">Advanced Search</a>
          </div>
        </div>
        {# Advanced search options #}
        <div id="advanced_search_pane" class="row">

          {# cuisine, rating, servings, time #}
          <div class="input-field col s12 m6">
            <select name="cuisine">
              <option value="" selected>Search cuisines</option>
              {% for cuisine in cuisines %}
                <option value="{{ cuisine.name }}">
                  {{- cuisine.name|capitalize -}}
                </option>
              {% endfor %}
            </select>
            <label>Cuisine type</label>
          </div>

          {# Servings search #}
          <div class="input-field col s6 m3">
            <i class="material-icons prefix">restaurant</i>
            <input name="servings" type="number" id="recipe_servings" min="0">
            <label for="recipe_servings">Servings</label>
          </div>

          {# Time search #}
          <div class="input-field col s6 m3">
            <i class="material-icons prefix">access_time</i>
            <input name="time" id="recipe_time" type="text" class="timepicker"
              value="00:00">
            <label for="recipe_time">Max Time</label>
          </div>

          <div class="row">
            <input class="col s6 offset-s3 btn-small" type="submit">
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      {# Only display categories if no search was conducted #}
      {% if recipes is none %}
        <div class="search-wrapper col s12">
          {% for cuisine in cuisines %}
            <form class="search-tile" method="POST" action="{{ url_for('search') }}">
              <input name="cuisine" type="hidden" value="{{ cuisine.name }}">
              <button type="submit">
                {{ generate_item_tile(
                    cuisine.name|capitalize(),
                    url_for('static', filename=("/images/categories/sm-"
                      + cuisine.name|replace(' ', '-') + ".jpg"))
                ) }}
              </button>
            </form>
          {% endfor %}
        </div>
      {% else %}
        {% if recipes.count() > 0 %}
          <div class="search-wrapper col s12">
            {% for recipe in recipes %}
              <div class="search-tile">
                {{ generate_item_tile(
                    recipe.title,
                    recipe.image,
                    url_for('recipe', pageid=recipe.pageid)
                ) }}
              </div>
            {% endfor %}
          </div>
        {% else %}
          No recipes found
        {% endif %}
      {% endif %}
    </div>

  </div>
{% endblock %}
