{% extends "base.html" %}
{% from "items.html" import generate_item_tile %}
{% from "star-rating.html" import generate_star_rating_control %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <form class="col s12 {#l8 offset-l2#}"  method="POST" action="{{ url_for('search') }}">
        <div id="basic_search_pane" class="row line-spacing-5">
          <div class="input-field col s12 m8 l10">
            <i class="material-icons prefix">search</i>
            <input id="search-text" name="search-text" type="text">
            <label for="search-text">Search</label>
          </div>
          <div id="advanced_search_toggle" class="col s12 m4 l2 center-align">
            <a>Advanced Search</a>
          </div>
        </div>
        {# Advanced search options #}
        <div id="advanced_search_pane" class="row line-spacing-5">

          {# cuisine, rating, servings, time #}
          <div class="input-field col s12 l6">
            <select name="cuisine">
              <option value="" selected>Search cuisines</option>
              {% for cuisine in cuisines %}
                <option value="{{ cuisine.name }}">
                  {{- cuisine.name|capitalize -}}
                </option>
              {% endfor %}
            </select>
            <label>Cuisine type</label>
          </div>

          {# Servings search #}
          <div class="input-field col s6 l3">
            <i class="material-icons prefix">restaurant</i>
            <input name="servings" type="number" id="recipe_servings" min="0">
            <label for="recipe_servings">Servings</label>
          </div>

          {# Time search #}
          <div class="input-field col s6 l3">
            <i class="material-icons prefix">access_time</i>
            <input name="time" id="recipe_time" type="text" class="timepicker"
              value="00:00">
            <label for="recipe_time">Max Time</label>
          </div>

          {# Rating #}
          <div class="search-rating">
            <div>Minimum rating</div>
            {{ generate_star_rating_control(0) }}
          </div>

          <div class="row">
            <input class="col s6 offset-s3 btn-small" type="submit">
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      {# Only display categories if no search was conducted #}
      {% if not pages %}
        <div class="search-wrapper col s12">
          {% for cuisine in cuisines %}
            <form class="search-tile" method="POST" action="{{ url_for('search') }}">
              <input name="cuisine" type="hidden" value="{{ cuisine.name }}">
              <button type="submit">
                {{ generate_item_tile(
                    cuisine.name|capitalize(),
                    url_for('static', filename=("/images/categories/sm-"
                      + cuisine.name|replace(' ', '-') + ".jpg"))
                ) }}
              </button>
            </form>
          {% endfor %}
        </div>
      {% else %}
        {% if pages.total_items > 0 %}
          {# Only show pagination controls if there are multiple pages #}
          {% if pages.page_count > 0 %}
            <form class="search-pages-form" method="POST" action="{{ url_for('search') }}">
              <div class="search-pages">
                <button class="search-pages-btn" type="submit" name="page" value="{{ pages.current_page - 1 }}"
                  {{ 'disabled' if pages.current_page == 0 }}>
                  <i class="material-icons">chevron_left</i>
                </button>
                {%- for i in range(pages.page_count + 1) -%}
                  <button class="search-pages-btn {{ 'active' if pages.current_page == loop.index -1 }}"
                    type="submit" name="page" value="{{ loop.index - 1 }}" {{ 'disabled' if pages.current_page == loop.index - 1 }}>
                    {{- loop.index -}}
                  </button>
                {%- endfor -%}
                <button class="search-pages-btn" type="submit" name="page" value="{{ pages.current_page + 1 }}"
                  {{ 'disabled' if pages.current_page == pages.page_count }}>
                  <i class="material-icons">chevron_right</i>
                </button>
              </div>
              {# Store the query details for form resubmission #}
              <input type="hidden" name="page_count" value="{{ pages.page_count }}">
              <input type="hidden" name="total_items" value="{{ pages.total_items }}">
              {% for field in query %}
                <input type="hidden" name="{{ field.key }}" value="{{ field.value }}">
              {% endfor %}
            </form>
            <div class="search-pages-count">
              Showing results {{ pages.first_item }} to {{ pages.last_item }} of {{ pages.total_items }}
            </div>
          {% endif %}

          <div class="search-wrapper col s12">
            {% for recipe in recipes %}
              <div class="search-tile">
                {{ generate_item_tile(
                    recipe.title,
                    recipe.image,
                    url_for('recipe', pageid=recipe.pageid)
                ) }}
              </div>
            {% endfor %}
          </div>
        {% else %}
          No results
        {% endif %}
      {% endif %}
    </div>

  </div>
{% endblock %}
