{# Returns the current star's required check state #}
{%- macro star_checked(n) -%}
  {%- if n > 0.25 -%}
    {%- if n < 0.75 -%}
      half
    {%- else -%}
      on
    {%- endif -%}
  {%- else -%}
    off
  {%- endif -%}
{%- endmacro -%}

{# Generates a static star rating element #}
{% macro generate_star_rating_display(rating, show_rating_number=false) %}
  <ul class="star-rating">
    {% for i in [rating,rating-1,rating-2,rating-3,rating-4] %}
      <li class="star {{ star_checked(i) }}"><i class="material-icons"></i></li>
    {% endfor %}
    {% if show_rating_number == true %}
      <li class="rating-text">({{ rating|round(1, 'common') }})</li>
    {% endif %}
  </ul>
{% endmacro %}

{% macro generate_star_rating_control(precheck=0) %}
  <div class="star-rating-ctl">
    {% for i in range(1, 6)|reverse %}
      <input id="rating{{ i }}" type="radio" name="rating" value="{{ i }}"
        {%- if precheck == i -%}
          checked
        {%- endif -%} required>
      <label for="rating{{ i }}" class="star">
        <i class="material-icons"></i>
      </label>
    {% endfor %}
    {# Adds a hidden zero star checked by default so control will always
       return a value. This approach also makes it easy to expand the
       control to have a "clear rating" option later. #}
    <input id="rating0" type="radio" name="rating" value="0"
      {%- if precheck == 0 -%}
        checked
      {%- endif -%} required>
  </div>
{% endmacro %}
