{# Inserts the image template for the individual stars #}

{# Returns the current star's required check state #}
{%- macro star_checked(n) -%}
  {%- if n > 0.25 -%}
    {%- if n < 0.75 -%}
      half
    {%- else -%}
      on
    {%- endif -%}
  {%- else -%}
    off
  {%- endif -%}
{%- endmacro -%}

{# Generates a static star rating element #}
{% macro generate_star_rating_display(rating, show_rating_number) %}
  <ul class="star-rating">
    {% for i in [rating,rating-1,rating-2,rating-3,rating-4] %}
      <li class="star {{ star_checked(i) }}"><i class="material-icons"></i></li>
    {% endfor %}
    {% if show_rating_number == true %}
      <li class="rating-text">({{ rating }})</li>
    {% endif %}
  </ul>
{% endmacro %}

{% macro generate_star_rating_control(precheck) %}
  <div class="star-rating-ctl">
    {% for i in [5,4,3,2,1] %}
      <input id="rating{{ i }}" type="radio" name="rating" value="{{ i }}"
        {%- if precheck == i -%}
          checked
        {%- endif -%}>
      <label for="rating{{ i }}" class="star">
        <i class="material-icons"></i>
      </label>
    {% endfor %}
    {# Adds a hidden zero star checked by default so control will always return a value #}
    <input id="rating{{ i }}[{{ id }}]" type="radio" name="rating" value="0"
      {%- if precheck == 0 -%}
        checked
      {%- endif -%}>
  </div>
{% endmacro %}
