{% extends "base.html" %}
{% from "items.html" import generate_item_tile %}

{% block content %}
  <div class="container vpad">

    {% if recipes.count() > 0 %}
      <div class="row">
        <h4 class="section-header col s12">
          {{ user.name|capitalize }}'s recipes
        </h4>
      </div>
      <hr class="row section-divider">
      <div class="row">
        <div class="scroller col s12">
          <button class="scroll-left btn-floating btn-large btn-plum">
            <i class="material-icons">chevron_left</i>
          </button>
          <button class="scroll-right btn-floating btn-large btn-plum">
            <i class="material-icons">chevron_right</i>
          </button>
          <ul class="scroller-items">
            <li class="scroll-item-bookend"></li>
            {% for recipe in recipes %}
              <li class="scroll-item">
                <div class="recipe-tile">
                  {{ generate_item_tile(
                      recipe.title,
                      recipe.image,
                      url_for('recipe', pageid=recipe.pageid)) }}
                </div>
              </li>
            {% endfor %}
            <li class="scroll-item-bookend"></li>
          </ul>
        </div>
      </div>
    {% endif %}

    {% if user.favorites|length > 0 %}
      <div class="row">
        <h4 class="section-header col s12">
          {{ user.name|capitalize }}'s favorites
        </h4>
      </div>
      <hr class="row section-divider">
      <div class="row">
        <div class="scroller col s12">
          <button class="scroll-left btn-floating btn-large btn-plum">
            <i class="material-icons">chevron_left</i>
          </button>
          <button class="scroll-right btn-floating btn-large btn-plum">
            <i class="material-icons">chevron_right</i>
          </button>
          <ul class="scroller-items">
            <li class="scroll-item-bookend"></li>
            {% for recipe in favorites %}
              <li class="scroll-item">
                <div class="recipe-tile">
                  {{ generate_item_tile(
                      recipe.title,
                      recipe.image,
                      url_for('recipe', pageid=recipe.pageid)) }}
                </div>
              </li>
            {% endfor %}
            <li class="scroll-item-bookend"></li>
          </ul>
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/scroller.js') }}"></script>
{% endblock %}
